html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	/* font-family: 'Hiragino Maru Gothic ProN', 'Helvetica Neue',Helvetica,Arial,sans-serif; */
  /* font-family: 'yuzu'; */
  font-weight: 100;
}

@media screen and (min-width: 500px) {

	body.ens-decorated {
	  background-size: 20%;
	}

}

/*
.ens-navbar {
  background-color: #E07099;
  border-color: #E07099;
  color: #FFF;
}

.ens-navbar .navbar-brand,
.ens-navbar ul.navbar-nav li a {
  color: #FFF;navbar
}
*/

.ens-contentbody {
	width: 100%;
	max-width: 580px;
	margin: 0 auto;
}

.ens-sample-title,
.ens-file-title,
.ens-center-text {
	display: block;
	text-align: center;
}

.ens-uploadsample-img {
	display: block;
	width: 80%;
	margin: 10px auto;
}

.ens-result-img {
	display: block;
	width: 100%;
	margin: 10px auto;
}

input[type="file"].ens-upload-input {
	/*
	width: 100%;
	text-align: center;
	*/
	display: none;
}

.ens-select-button {
	display: block;
	width: 70%;
	margin: 10px auto 10px;
}

.ens-upload-button {
	width: 100%;
}

.ens-loading {
	display: block;
	width: 85px;
	margin: 20px auto;
}

.ens-loading-title {
	width: 100%;
	text-align: center;
}

.ens-result-label-box {
	margin: 10px 0 0;
}

.ens-result-total {
	margin: 0 0 20px;
}

.ens-result-table {
	width: 100%;
}

.ens-result-total,
.ens-result-table tr td {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.ens-detail-magnitude {
	font-size: 1.2em;
}

.ens-show-detail-box,
.ens-back-home {
	margin-bottom: 15px;
}

.ens-button-wide {
	width: 100%;
}

.ens-disclaimer-text {
	font-size: 0.8em;
  margin-top: 10px;
	margin-bottom: 0;
}

.ens-unitskill-img {
	width: 100%;
}

.ens-unitskill-dropdownlabel {
	margin: 2px 20px 11px;
}

.ens-sitecontent-body {
	max-width: 600px;
	margin: 0 auto;
}

.ens-reference-font {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 0.7em;
	margin-bottom: 0;
}

/* howto */
.ens-howto-heading {
	font-size: 1.8em;
  margin: 0 0 18px;
}

.ens-howto-text {
	margin: 15px 17px 18px;
}

.ens-howto-list li {
	margin: 0 0 10px;
}

/* author */
.ens-author-heading {
	font-size: 1.8em;
  margin: 0 0 18px;
}
